* {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}


body {
    min-width: 320px;
    font-family: "sans-serif";
    font-weight: normal;
    background-color: white;
}

.lock {
    overflow: hidden;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.container {
    margin: 0 auto;
    padding: 0 45px;
    max-width: 1380px;
}